<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <form class="product-form py-4" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
                <div class="form-group">
                    <label for="title">عنوان</label>
                    <input class="form-control" type="text" name="title" id="title" value="<% if (editing) { %><%= product.title %><% } %>">
                </div>
                <div class="form-group">
                    <label for="imageUrl">آدرس تصویر</label>
                    <input class="form-control" type="text" name="imageUrl" id="imageUrl" value="<% if (editing) { %><%= product.imageUrl %><% } %>">
                </div>
                <div class="form-group">
                    <label for="price">قیمت</label>
                    <input class="form-control" type="number" name="price" id="price" step="0.01" value="<% if (editing) { %><%= product.price %><% } %>">
                </div>
                <div class="form-group">
                    <label for="description">توضیحات</label>
                    <textarea class="form-control" name="description" id="description" rows="5"><% if (editing) { %><%= product.description %><% } %></textarea>
                </div>
                <% if (editing) { %>
                    <input type="hidden" value="<%= product.id %>" name="productId">
                <% } %>
    
                <button class="custom-btn btn-blue-to-line" type="submit"><% if (editing) { %>آپدیت محصول<% } else { %>ثبت محصول<% } %></button>
            </form>
        </div>
    </main>
<%- include('../includes/end.ejs') %>