<article class="cardA">
    <div class="cardA__header">
        <div class="ratio-3:4">
            <div class="ratio-body">
                <figure class="cardA__img">
                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>" class="img-fit">
                </figure>
            </div>
        </div>
    </div>
    <div class="cardA__body">
        <h2 class="cardA__title"><%= product.title %></h2>
        <h3 class="cardA__subtitle"><%= product.price %></h3>
        <p class="cardA__copy"><%= product.description %></p>
    </div>
    <footer class="cardA__footer">
        <div class="cardA__actions">
            <%- include('../includes/add-to-cart.ejs', {product: product}) %>
        </div>
    </footer>
</article>