<div class="backdrop"></div>

<header class="main-header">
    <div class="main-header__fixed-sec">
        <div class="container h-100 px-0 d-flex align-items-center">
            <div class="logo">
                <img src="/img/logo.svg" alt="">
            </div>
            <nav class="main-header__nav">
                <ul class="main-header__nav-list">
                    <li class="main-header__nav-item">
                        <a class="main-header__nav-link <%= path === '/' ? 'active' : '' %>" href="/">فروشگاه</a>
                    </li>
                    <li class="main-header__nav-item">
                        <a class="main-header__nav-link <%= path === '/products' ? 'active' : '' %>"
                            href="/products">محصولات</a>
                    </li>
                    <li class="main-header__nav-item">
                        <a class="main-header__nav-link <%= path === '/cart' ? 'active' : '' %>" href="/cart">کارت</a>
                    </li>
                    <li class="main-header__nav-item">
                        <a class="main-header__nav-link <%= path === '/orders' ? 'active' : '' %>"
                            href="/orders">پیشنهاد</a>
                    </li>
                    <li class="main-header__nav-item">
                        <a class="main-header__nav-link <%= path === '/admin/add-product' ? 'active' : '' %>"
                            href="/admin/add-product">
                            افزودن محصول
                        </a>
                    </li>
                    <li class="main-header__nav-item">
                        <a class="main-header__nav-link <%= path === '/admin/products' ? 'active' : '' %>"
                            href="/admin/products">
                            محصولات مدیر
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="main-header__collapsible-sec">
        <div class="container h-100 d-flex justify-content-center align-items-center">
            <nav class="main-header__nav-cat">
                <ul class="main-header__nav-cat-list">
                    <li class="main-header__nav-cat-item">
                        <a class="main-header__nav-cat-link <%= path === '/' ? 'active' : '' %>" href="/">فروشگاه</a>
                    </li>
                    <li class="main-header__nav-cat-item">
                        <a class="main-header__nav-cat-link <%= path === '/products' ? 'active' : '' %>"
                            href="/products">محصولات</a>
                    </li>
                    <li class="main-header__nav-cat-item">
                        <a class="main-header__nav-cat-link <%= path === '/cart' ? 'active' : '' %>" href="/cart">کارت</a>
                    </li>
                    <li class="main-header__nav-cat-item">
                        <a class="main-header__nav-cat-link <%= path === '/orders' ? 'active' : '' %>"
                            href="/orders">پیشنهاد</a>
                    </li>
                    <li class="main-header__nav-cat-item">
                        <a class="main-header__nav-cat-link <%= path === '/admin/add-product' ? 'active' : '' %>"
                            href="/admin/add-product">
                            افزودن محصول
                        </a>
                    </li>
                    <li class="main-header__nav-cat-item">
                        <a class="main-header__nav-cat-link <%= path === '/admin/products' ? 'active' : '' %>"
                            href="/admin/products">
                            محصولات مدیر
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<!-- <header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                </a>
            </li>
        </ul>
    </nav>
</header> -->

<!-- <nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
            </a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
            </a>
        </li>
    </ul>
</nav> -->